Flask==0.11.1
Flask-Login==0.4.0
Flask-OAuth==0.12
Flask-SQLAlchemy==2.1
Flask-Script==2.0.5
Jinja2==2.8
MarkupSafe==0.23
PyMySQL==0.7.9
SQLAlchemy==1.1.4
Werkzeug==0.11.11
argparse==1.2.1
click==6.6
gunicorn==19.6.0
heroku==0.1.4
httplib2==0.9.2
itsdangerous==0.24
oauth2==1.9.0.post1
python-dateutil==1.5
requests==2.12.3
wsgiref==0.1.2
