{% extends "main.html" %}
    {%block content %}
    <h3 class="do"> Please Login: </h3>
		<form action="{{ url_for('api.login') }}" method="post">
		<input class="custom" type="text"  placeholder ="username" name="username" required/>
		<input class="custom" type="password"  placeholder ="password" name="password"required/>
		<input style="color:white;font:bold; background:#5bc0de; border-radius:2px; border:none; height:46px; width: 80px;  margin:40px 60px 20px 520px; " type="submit" value="Login"/>
		</form>

    {%endblock %}
