
{% extends "main.html" %}
{%block content %}

{% if error %}
      	<p><h2>{{error}}</h2></p>
{% endif %}


<h2><div class="do">Please Register: </div></h2>
<form action="" class="form-inline" method="post">
<input class="custom"  type="text" class= "form-control" placeholder ="Username" name="username" value="{{request.form.username }}">
<input class="custom"  type="text" class= "form-control" placeholder ="Email" name="email" value="{{request.form.email }}">

<input class="custom"  type="password" class= "form-control" placeholder ="Password" name="password" value="{{request.form.password }}">
<input class="custom"  type="text" class= "form-control" placeholder ="Mobile" name="mobile" value="{{request.form.mobile }}">
<input class="btn btn-primary btn-md" style="  margin:40px 60px 20px 550px;" type="submit" value="Register">


</form>
{% endblock%}
