

<html>
<head>
</head>
<body>
<div class="container">
<br>
<h4>please signup: </h4>
<br>
<form action="" class="form-inline" method="post">
<input type="text" class= "form-control" placeholder ="Username" name="username" value="{{request.form.username }}">
<input type="text" class= "form-control" placeholder ="Email" name="email" value="{{request.form.email }}">

<input type="password" class= "form-control" placeholder ="Password" name="password" value="{{request.form.password }}">
<input type="text" class= "form-control" placeholder ="Mobile" name="mobile" value="{{request.form.mobile }}">
<input class="btn btn-default" type="submit" value="Register">

 		
</form>
</div>
</body>

</html>





